<a href="https://colab.research.google.com/github/rakshitha0522/rakshitha-repo/blob/main/Wikipedia_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [ ]:
url = 'https://en.wikipedia.org/wiki/List_of_states_and_territories_of_the_United_States'

In [ ]:
response = requests.get(url)

In [ ]:
soup = BeautifulSoup(response.content, 'html.parser')

In [ ]:
table = soup.find('table',{'class' : 'wikitable'})

In [ ]:
states = []
populations = []

In [ ]:
for row in table.find_all('tr')[1:]:
    columns = row.find_all('td')
    if columns:
        state = columns[0].get_text(strip=True)
        population = columns[2].get_text(strip=True)
        states.append(state)
        populations.append(population)

In [ ]:
df = pd.DataFrame({
    'State': states,
    'Population': populations
})

In [ ]:
df

   State      Population
0     AL      Huntsville
1     AK       Anchorage
2     AZ    Feb 14, 1912
3     AR    Jun 15, 1836
4     CA     Los Angeles
5     CO     Aug 1, 1876
6     CT      Bridgeport
7     DE      Wilmington
8     FL    Jacksonville
9     GA     Jan 2, 1788
10    HI    Aug 21, 1959
11    ID     Jul 3, 1890
12    IL         Chicago
13    IN    Dec 11, 1816
14    IA    Dec 28, 1846
15    KS         Wichita
16    KY      Louisville
17    LA     New Orleans
18    ME        Portland
19    MD       Baltimore
20    MA     Feb 6, 1788
21    MI         Detroit
22    MN     Minneapolis
23    MS    Dec 10, 1817
24    MO     Kansas City
25    MT        Billings
26    NE           Omaha
27    NV       Las Vegas
28    NH      Manchester
29    NJ          Newark
30    NM     Albuquerque
31    NY   New York City
32    NC       Charlotte
33    ND           Fargo
34    OH     Mar 1, 1803
35    OK    Nov 16, 1907
36    OR        Portland
37    PA    Philadelphia
38    RI    May 29, 1790
39    SC      Charleston
40    SD     Sioux Falls
41    TN     Jun 1, 1796
42    TX         Houston
43    UT     Jan 4, 1896
44    VT      Burlington
45    VA  Virginia Beach
46    WA         Seattle
47    WV    Jun 20, 1863
48    WI       Milwaukee
49    WY    Jul 10, 1890

In [ ]:
df.to_csv('state_populations.csv')